td {
  border: 1px solid white;
  text-align: left;
  padding: 40px;
}

td:hover {
  border: 3px solid white;
  box-shadow: 2px 2px 20px 0px #590303;
  border-radius: 8px;
}
.table_wrapper {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top: 4rem;
}

table {
  background-color: wheat;
  border-radius: 8px;
  border: 3px solid white;
}

.container {
  text-align: center;
  background-color: black;
}

h1 {
  color: white;
  font-size: 50px;
}

.winner {
  color: white;
  font-size: 30px;
  margin-top: 20px;
}
.player {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.player div {
  padding: 2opx;
  border: 2px solid white;
  border-radius: 5px;
  background-color: wheat;
}

.player1 {
  margin-right: 20px;
}

.clear {
  padding: 20px;
  background-color: wheat;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.clear:hover {
  padding: 25px;
  box-shadow: 1px 1px 18px 3px #d4d2d2;
}

.turn {
  background-color: green !important;
}